{% extends 'base.jinja2' %}
{%block title%} Home  {%endblock%}
{%block content%} 
<h3 align="center">Суть сабжа</h3>
<div class="container" id="containers">
    <ul>
        Квест рассчитан ровно на год.<br>
Начало 01.01 до 31.12<br>
Всего в квесте 36 аниме, какое-то количество (зависит от числа участников) из этих 36-и вы выбираете для себя сами,<br>
и то же число подбираете для других людей.<br>
Цифра тайлов для подбора будет дана, когда кол-во челов будет известно (очевидно).<br>
• Пример для глупых и непонятливых:
жмяк<br>
• С одной франшизы можно добавить только одно аниме (то есть нельзя добавить все сезоны jojo и сидеть отдыхать).<br>
• Запрещено добавлять какое либо продолжение сериала, если человек не смотрел начало.<br>
Для глупых и непонятливых: если человек не смотрел первый сезон, то нельзя кидать ему второй.<br>
• Подбирая аниме другим участникам данного поебища разрешается добавлять то, что вы сами не смотрели.<br>
• Аниме, которые еще не вышли на стадии составления списков брать запрещено.<br>
• Так же разрешается троллить людей, кидая им дерьмо и/или какой либо скам, но на свой страх и риск<br>
Если кто-то проломит вам за это череп - вина только ваша.<br>
• Яой, Юри и другие спорные жанры - индивидуально, обсуждать с тем, кому вы хотите их кинуть.<br>
На счет размера аниме, которые вы кидаете другим людям:<br>
• Длинные мультики в квесте не участвуют.<br>
• Средних вы можете выбрать половину от общей цифры того,<br>
сколько вам нужно кинуть другому человеку.<br>
Себе можно накидать хоть все.<br>
Я запрещаю вам:<br>
• ныть	• гундеть	
• откровенно тупить<br>
• душнить	• душить	• ебланить					<br>
• и конечно же биться в истерике со словами "я не буду это смотреть"<br>
Если вы пошли на этот квест, значит вы обязаны посмотреть то, что вам кинули<br>
и это не обсуждается.<br>
Одна из причин создания данного поебища ака квест, как раз таки и заключается в том,<br>
чтоб смотреть то, что вы возможно бы никогда не включили в свой список самостоятельно.<br>
Вы можете вежливо попросить кого-то не кидать вам тот или иной мультик, и<br>
другой человек может пойти вам на уступки только если он этого хочет. Не более.<br>
И это все должно случится до вкидывания списков в общий чат.<br>
После вкидывания ныть запрещено.<br>
Если ливаете на данном этапе заслуживаете отметку "пидорас и хуесос" в карме.<br>
Пожалуйста не делайте так, пощадите людей, которые тратили на все это свое время.
    </ul>
</div>
{%endblock%}